.App {
  text-align: center;
}

.button-div a {
  color: black;
  text-decoration: none;
  border: 1px solid grey;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0.2em 0.6em;
  font-weight: bold;
}

.button-div a:hover {
  background-color: grey;
}


img {
  width: 15vw;
  margin: 2em;
  border-radius: 50%;
}